body {
  margin: 0 auto;
  background-color: rgb(208, 214, 220);
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
}

#top-nav {
  display: flex;
  position: fixed;
  align-content: center;
  width: 100%;
  height: 50px;
  background-color: blueviolet;
}

#logo {
  margin-left: 100px;
  align-self: center;
}

#logo-img {
  width: 40px;
  height: 30px;
}

#left-nav-bar {
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-left: 60%;
}

.nav-bar {
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-element {
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-top: 60px;
}

#div1 {
  width: 650px;
  text-align: center;
}

#email {
  width: 300px;
  align-self: center;
}

#submit {
  width: 120px;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.prices-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.prices {
  height: 200px;
  width: 200px;
  background-color: rgb(197, 153, 67);
  border: 2px solid black;
  text-align: center;
}

.prices-head {
  height: 20px;
  background-color: bisque;
}

.prices-headings {
  vertical-align: middle;
}

.prices-paragraph {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  div.container {
    display: none;
  }
}
